html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url("img/background.jpg");
    /* background-color: black; */
    /* background-blend-mode: darken; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 

 }
 .layer {
    background-color: rgba(131, 131, 131, 0.466);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 } 

 
 


.navBar{
    background-color: rgba(192, 225, 252, 0.849);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    border-bottom: 3px double #134074;
    font-weight: bold;
    border-radius: 0 0 15px 15px;
    box-shadow: 4px 7px 8px #8DA9C4;
    z-index: 1000;
}
.logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px 0;
    margin-left: 15px;
    margin-top: 5px;
    box-shadow: 2px 3px 4px #51657c;
}
.head0{
    border-right: 5px double #134074;
}
.headLogo{
    margin: 0 auto;
    margin-right: 20px;
}
.head1{
    display: flex;
    flex-basis: 25%;
    align-items: center;
    text-align: center;
    margin: 0 0;
    justify-content: center;
    border-right: 5px double #134074;
}
.head2{
    display: flex;
    flex-basis: 25%;
    align-items: center;
    text-align: center;
    margin: 0 0;
    justify-content: center;
    border-right: 5px double #134074;
}
.name1{
    margin: 0 auto;
    font-size: 21px;
    animation-name: namedecrease;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin-right: 50px;
    text-shadow: 3px 5px 6px #8DA9C4;
    color: rgb(53, 89, 100);
    
}
.name1:hover{
    animation-name: nameincrease;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.about{
    display: flex;
    flex-basis: 25%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-right: 5px double #134074;
}
.navItems{
    margin: 0 auto;
    display: flex;
    flex-basis: 10%;
    align-items: center;
    justify-content: center;
    
}
.navItem{
    height: 30px;
    width: 30px;
    margin: 0 20px;
    animation-name: settingdecrease;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.navItem:hover{
    animation-name: settingincrease;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.introOne{
    padding-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(193, 223, 255);
    border-bottom: 10px double rgba(0, 58, 105, 0.712);
    border-radius: 0 0 15px 15px;
}
.introT1{
    text-align: center;
    margin: 0 50px;
    background-color: #004979ab;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 3px 4px #004872;

}
.introText{
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 0 0 15px 15px;
    /* margin-bottom: 5px; */
    border-bottom: 7px solid rgba(0, 46, 83, 0.719);
    border-radius: 0 0 30px 30px;
    text-shadow: 2px 3px 4px #6c9ebb;
}

.introText1{
    font-size: 24px;
    display: flex;
    margin-top: 25px;
    text-shadow: 2px 2px 4px #6c9ebb;
}
.desktop{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin-top: 25px;
    margin-right: 100px;
}
/* .shots{
    height: 290px;
    width: 495px;
    margin: 0 auto;
    border: 2px solid #7cffff;
} */
#carouselExampleFade{
    display: flex;
    width: 650px;
    justify-content: center;
    margin: 35px auto;
    border: 3px solid rgb(0, 57, 95);
    box-shadow: 2px 3px 4px rgb(0, 38, 73);
}
.carouselinner{
    display: flex;
    justify-content: center;
}

@keyframes nameincrease{
    from {font-size: 21px; margin: 0 auto;}
    to {font-size: 24px; margin: 0 auto;}
}
@keyframes namedecrease{
    from {font-size: 24px; margin: 0 auto;}
    to {font-size: 21; margin: 0 auto;}
}

@keyframes settingincrease{
    from {height: 30px; width: 30px; margin: 0 20px;}
    to {height: 40px; width: 40px; margin: 0 15px;}
}
@keyframes settingdecrease{
    from {height: 40px; width:40px; margin: 0 15px;}
    to {height: 30px; width: 30px; margin: 0 20px;}
}